.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.react-datepicker-wrapper {
  border-color: rgb(174, 179, 183);
}

.react-datepicker__input-container input {
  padding: 0.5rem;
  outline: none;
}
